* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
  user-select: none;
}

.outer-container {
  display: flex;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 0.5em;
  width: 400px;
  background-color: #dedede;
  padding: 0.5em;
}

.description {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.description a {
  text-decoration: none;
}

.description a span {
  color: #111;
  font-size: 0.4em;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  margin: 2em;
}

.description a {
  font-size: 0.4em;
}

.description img {
  height: 2.5em;
  transform: translateY(3px);
  margin-right: 0.1em;
}

.display {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-radius: 1px;
  user-select: text;
}

.display-large {
  background-color: #333;
  border: 1px solid #000;
  min-height: 3em;
}

.display-small {
  background-color: #ccc;
  border: 1px solid #424242;
  min-height: 2.2em;
}

.display-text {
  margin: auto 0.5em;
}

.display-large>.display-text {
  font-size: 1.2em;
  color: #ddd;
}

.display-small>.display-text {
  font-size: 0.6em;
  color: #333;
}

.grid {
  display: grid;
  width: 100%;
}

.grid-row-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  grid-auto-rows: minmax(50px, auto);
}

.grid-row-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  grid-auto-rows: minmax(50px, auto);
}

.grid#digits {
  grid-column-end: span 3;
  grid-row-end: span 4;
}

.button {
  display: flex;
  border-radius: 1px;
  background-color: #dedede;
  border: 1px solid #999;
}

.button p {
  margin: auto;
  font-weight: bold;
}

.button#zero {
  grid-column-end: span 2;
}

.button#clear {
  grid-column-end: span 2;
}

.button#equals {
  grid-row-end: span 2;
}

.button:active {
  background-color: #333;
  color: #eee;
  border: none;
}

.button#clear:active {
  background-color: red;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: #333;
    color: #eee;
    border: none;
  }

  .button#clear:hover {
    background-color: red;
  }
}